
@using Microsoft.Extensions.Logging
@using System.IO 
@using System.Text
@using System.Text.Json

@inject IJSRuntime JSRuntime
@inject HttpClient _httpClient
@inject NavigationManager _navigationManager
@inject ILogger<ConfigureForm> logger

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

<h3>@_mode Tracing Configuration</h3>
<hr/>
@*<RadzenTemplateForm Data="@config"
                    OnInvalidSubmit="(async () => await HandleSubmitAsync(false))">*@
<div>
    <RadzenTemplateForm TItem="ConfigurationProperties" Data="config" 
                        Submit="SubmitForm" OnInvalidSubmit="@OnInvalidSubmit">
        @*<DataAnnotationsValidator />
        <ValidationSummary />*@
        <div class="row">
            <div class="col-md-6">
                <RadzenFieldset Text="Required Information">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Table Name" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value=@tableName Name="TableName" 
                                           style="width: 100%;" ReadOnly="!IsAdd"/>
                            <RadzenRequiredValidator Component="TableName" Text="Kusto table is required"
                                                     Style="position: relative;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Gather Type" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value=@config.GatherType AllowClear="true" Placeholder="select gather type" 
                                            Data="@GatherTypes" style="width: 100%;"
                                            TextProperty="Gather Type" ValueProperty="GatherTypeValue" Name="GatherType" />
                            <RadzenRequiredValidator Component="GatherType" Text="Gather type is required"
                                                     Style="position: relative;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Start Time Stamp" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDatePicker style="width: 100%;" Name="StartDate" @bind-Value=@config.StartTimeUtc
                                              ShowTime="true" ShowSeconds="true" HoursStep="1.5" MinutesStep="5"
                                              SecondsStep="10" DateFormat="MM/dd/yyyy HH:mm:ss" />
                            <RadzenRequiredValidator Component="StartDate" Text="Start date time is required"
                                                     Style="position: relative;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="End Time Stamp" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDatePicker style="width: 100%;" Name="EndDate" @bind-Value=@config.EndTimeUtc
                                              ShowTime="true" ShowSeconds="true" HoursStep="1.5" MinutesStep="5"
                                              SecondsStep="10" DateFormat="MM/dd/yyyy HH:mm:ss" />
                            <RadzenRequiredValidator Component="EndDate" Text="End date time is required"
                                                     Style="position: relative;" />
                        </div>
                    </div>
                </RadzenFieldset>
                <RadzenFieldset Text="Kusto Table Information">
                    <RadzenTabs SelectedIndex="0">
                        <Tabs>
                            <RadzenTabsItem Text="Kusto">
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-2">
                                        <RadzenLabel Text="Kusto Cluster" />
                                    </div>
                                    <div class="col-md-10">
                                        <RadzenTextBox @bind-Value=@config.KustoCluster
                                                       Placeholder="https://ingest-sfcluster.kusto.windows.net/sfdatabase"
                                                       style="width: 100%;" Name="KustoCluster" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Kusto Compressed" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenSelectBar @bind-Value=@config.KustoCompressed TValue="bool">
                                            <Items>
                                                <RadzenSelectBarItem Text="On" Value="true" />
                                                <RadzenSelectBarItem Text="Off" Value="false" />
                                            </Items>
                                        </RadzenSelectBar>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Kusto Recreate Table" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenSelectBar @bind-Value=@config.KustoRecreateTable TValue="bool">
                                            <Items>
                                                <RadzenSelectBarItem Text="On" Value="true" />
                                                <RadzenSelectBarItem Text="Off" Value="false" />
                                            </Items>
                                        </RadzenSelectBar>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Kusto Use Blob As Source" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenSelectBar @bind-Value=@config.KustoUseBlobAsSource TValue="bool">
                                            <Items>
                                                <RadzenSelectBarItem Text="On" Value="true" />
                                                <RadzenSelectBarItem Text="Off" Value="false" />
                                            </Items>
                                        </RadzenSelectBar>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Kusto Use Ingest Message" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenSelectBar @bind-Value=@config.KustoUseIngestMessage TValue="bool">
                                            <Items>
                                                <RadzenSelectBarItem Text="On" Value="true" />
                                                <RadzenSelectBarItem Text="Off" Value="false" />
                                            </Items>
                                        </RadzenSelectBar>
                                    </div>
                                </div>
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Log Analytics">
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Log Analytics Id" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenTextBox @bind-Value=@config.LogAnalyticsId style="width: 100%;" Placeholder="log analytics workspace id" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Log Analytics Key" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenTextBox @bind-Value=@config.LogAnalyticsKey style="width: 100%;" Placeholder="log analytics workspace key" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Log Analytics Workspace Name" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenTextBox @bind-Value=@config.LogAnalyticsWorkspaceName style="width: 100%;" Placeholder="name of log analytics workspace name (for creation only)" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Log Analytics Workspace Sku" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenTextBox @bind-Value=@config.LogAnalyticsWorkspaceSku style="width: 100%;" Placeholder="name of log analytics workspace sku typically 'PerGB2018'" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Log Analytics Create Table" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenSelectBar @bind-Value=@config.LogAnalyticsCreate TValue="bool">
                                            <Items>
                                                <RadzenSelectBarItem Text="On" Value="true" />
                                                <RadzenSelectBarItem Text="Off" Value="false" />
                                            </Items>
                                        </RadzenSelectBar>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Log Analytics Recreate Table" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenSelectBar @bind-Value=@config.LogAnalyticsRecreate TValue="bool">
                                            <Items>
                                                <RadzenSelectBarItem Text="On" Value="true" />
                                                <RadzenSelectBarItem Text="Off" Value="false" />
                                            </Items>
                                        </RadzenSelectBar>
                                    </div>
                                </div>
                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
                </RadzenFieldset>
                <RadzenFieldset Text="Filters">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Container Filter" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value=@config.ContainerFilter style="width: 100%;" Placeholder="string or regex filter pattern for container names" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Node Filter" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value=@config.NodeFilter style="width: 100%;" Placeholder="string or regex filter pattern for node names" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Uri Filter" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value=@config.UriFilter style="width: 100%;" Placeholder="string or regex filter pattern for storage blob uris" />
                        </div>
                    </div>
                </RadzenFieldset>
                <RadzenFieldset Text="Operations">
                    <div class="row justify-content-left">
                        <RadzenUpload ChooseText="Upload" Url="upload/single"
                                      Style="margin-left: 5%;" Visible="IsAdd"
                                      Progress="@OnUploadProgress" Complete=@OnUploadComplete />
                        <RadzenButton ButtonType="ButtonType.Submit" Icon="save"
                                      style="margin-left: 5%; width: 30%;" Text="Save" />
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel"
                                      style="margin-left: 5%; width: 30%;" Text="Cancel"
                                      Click="@Cancel" />
                    </div>
                </RadzenFieldset>
            </div>
            <div class="col-md-6">
                <RadzenFieldset Text="Authorization">
                    <RadzenTabs SelectedIndex="0">
                        <Tabs>
                            <RadzenTabsItem Text="SAS Endpoint Information">
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="SAS Key" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@config.SasKey Placeholder="enter sas key" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Blob Endpoint" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox Value=@config.SasEndpointInfo.BlobEndpoint style="width: 100%;" Disabled="true" ReadOnly="true" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Storage Account" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox Value=@config.SasEndpointInfo.StorageAccountName style="width: 100%;" Disabled="true" ReadOnly="true" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="SAS Token" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox Value=@config.SasEndpointInfo.SasToken style="width: 100%;" Disabled="true" ReadOnly="true" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Token Start Time Utc" />
                                    </div>
                                    <div class="col-md-3">
                                        <RadzenDatePicker style="width: 100%;" TValue="DateTime" @bind-Value=@config.SasEndpointInfo.Parameters.SignedStartUtc Disabled="true" ReadOnly="true" />
                                    </div>
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Token Expire Time Utc" />
                                    </div>
                                    <div class="col-md-3">
                                        <RadzenDatePicker style="width: 100%;" TValue="DateTime" @bind-Value=@config.SasEndpointInfo.Parameters.SignedExpiryUtc Disabled="true" ReadOnly="true" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Signed Services" />
                                    </div>
                                    <div class="col-md-3">
                                        <RadzenTextBox Value=@config.SasEndpointInfo.Parameters.SignedServices style="width: 100%;" Disabled="true" ReadOnly="true" />
                                    </div>
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Signed Resource Types" />
                                    </div>
                                    <div class="col-md-3">
                                        <RadzenTextBox Value=@config.SasEndpointInfo.Parameters.SignedResourceTypes style="width: 100%;" Disabled="true" ReadOnly="true" />
                                    </div>
                                </div>
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Azure Configuration">
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Azure Client Id" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@config.AzureClientId Placeholder="enter azure client id" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Azure Client Certificate" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@config.AzureClientSecret Placeholder="enter azure client id certificate" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Azure Client Secret" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@config.AzureClientSecret Placeholder="enter client id secret" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Azure Subscription Id" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@config.AzureSubscriptionId Placeholder="enter azure subscription id" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Azure Tenant Id" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@config.AzureTenantId Placeholder="enter azure tenant id" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Azure Resource Group" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@config.AzureResourceGroup Placeholder="enter azure resource group (log analytics only)" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Azure Resource Group Location" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@config.AzureResourceGroupLocation Placeholder="enter azure resource group (log analytics only)" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Azure Resource Uri" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@config.ResourceUri Placeholder="enter azure resource uri (for support use only)" style="width: 100%;" />
                                    </div>
                                </div>
                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
                </RadzenFieldset>
                <RadzenFieldset Text="Options">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Delete Cache" />
                        </div>
                        <div class="col-md-8">
                            <RadzenSelectBar @bind-Value=@config.DeleteCache TValue="bool">
                                <Items>
                                    <RadzenSelectBarItem Text="On" Value="true" />
                                    <RadzenSelectBarItem Text="Off" Value="false" />
                                </Items>
                            </RadzenSelectBar>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Unique Records" />
                        </div>
                        <div class="col-md-8">
                            <RadzenSelectBar @bind-Value=@config.Unique TValue="bool">
                                <Items>
                                    <RadzenSelectBarItem Text="On" Value="true" />
                                    <RadzenSelectBarItem Text="Off" Value="false" />
                                </Items>
                            </RadzenSelectBar>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Use Memory Stream" />
                        </div>
                        <div class="col-md-8">
                            <RadzenSelectBar @bind-Value=@config.UseMemoryStream TValue="bool">
                                <Items>
                                    <RadzenSelectBarItem Text="On" Value="true" />
                                    <RadzenSelectBarItem Text="Off" Value="false" />
                                </Items>
                            </RadzenSelectBar>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Use Tx" />
                        </div>
                        <div class="col-md-8">
                            <RadzenSelectBar @bind-Value=@config.UseTx TValue="bool">
                                <Items>
                                    <RadzenSelectBarItem Text="On" Value="true" />
                                    <RadzenSelectBarItem Text="Off" Value="false" />
                                </Items>
                            </RadzenSelectBar>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Cache Location" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value=@config.CacheLocation style="width: 100%;" Placeholder="local path for temporary cache files" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Log File" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value=@config.LogFile style="width: 100%;" Placeholder="path and file name for log file" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Log Debug Level" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric @bind-Value=@config.LogDebug TValue="int" Min="0" Max="5" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="No Progress Timeout" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric @bind-Value=@config.NoProgressTimeoutMin TValue="int" Min="0" Max="60" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Threads" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric @bind-Value=@config.Threads TValue="int" Min="1" Max="64" />
                        </div>
                    </div>
                </RadzenFieldset>
            </div>
        </div>
    </RadzenTemplateForm>
</div>
@*</RadzenTemplateForm>*@


@code {

    [Parameter]
    public bool IsAdd { get; set; }

    [Parameter]
    public ConfigurationProperties config { get; set; }

    [Parameter]
    public List<string> GatherTypes { get; set; }

    private string _tableName;
    public string tableName {
        get {
            _tableName = config.KustoTable;
            return _tableName;
        }
        set {
            _tableName = value;
            if (!string.IsNullOrEmpty(_tableName))
            {
                config.KustoTable = _tableName;
            }
        }
    }

    [Parameter]
    public EventCallback<bool> ValidationResult { get; set; }

    [Parameter]
    public EventCallback CancelRequest { get; set; }

    private string _mode => IsAdd ? "Add" : "Edit";

    private Task HandleSubmitAsync(bool isValid)
    {
        return ValidationResult.InvokeAsync(isValid);
    }

    private Task CancelAsync()
    {
        return CancelRequest.InvokeAsync(null);
    }

    private void Cancel()
    {
        _navigationManager.NavigateTo("/");
    }

    private async Task SubmitForm()
    {
        // REST operation to post the configuration option
        var response = await _httpClient.PostAsJsonAsync("api/configuration/save", config);

        if (response.IsSuccessStatusCode)
        {
            _navigationManager.NavigateTo("/grid-config");
        }
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {

    }

    private void OnUploadProgress(UploadProgressArgs args)
    {
        var t = args.Total;
        if (args.Progress == 100)
        {

        }
    }

    private async Task OnUploadComplete(UploadCompleteEventArgs args)
    {
        // Get the uploaded JSON data de-serialized
        config = await JsonHelpers.ToConfigurationProperties(args.RawResponse);

        StateHasChanged();
    }
}
